<div>
  <a ng-click='archive(id)'>Archive</a>
  <a ng-click='delete(id)'>Delete</a>
</div>

<div class='form-group'>
  <input type='text' name='title' ng-model='note.title' ng-blur='updateNote()' placeholder='Title' />
</div>

<div ng-if='!isList'>
  <textarea ng-model='note.content' ng-blur='updateNote()' placeholder='Note' />
</div>

{{onTask}}

<div ng-if='isList'>
  <div ui-sortable='sortableOptions' ng-model='note.tasks'>
    <div ng-repeat='task in note.tasks | orderBy: ["completed", "position"]'>
      <div class='well' ng-hide='task.hide'>
        <i class='fa fa-bars' style='float:left;'></i>
        <form ng-submit='udpateNote()'>
          <input type='checkbox' ng-model='task.completed' ng-change='updateNote()' />
          <span ng-class='{completed: task.completed}'>
            <input type='text' ng-model='task.content' ng-blur='updateNote();' ng-focus='task.focused = true;' />
          </span>
          
        </form>
        <span ng-show='task.focused'>
          <a ng-click='task._destroy = true; task.hide = true; updateNote()'>X</a>
        </span>
      </div>
    </div>
  </div>

  <div class='form-group'>
    <form ng-submit='createTask()'>
      <input type='text' placeholder='List Item'  ng-model='note.new_task.content' ng-blur='createTask()' />
    </form>
  </div>
</div>