<!DOCTYPE html>
<html ng-app='Todos'>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0", name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <%= csrf_meta_tags %>
</head>
<body ng-controller='MainCtrl' ng-class='{currentNote: current_note}'>
  <div id='flash' ng-controller='FlashCtrl'>
    <div class='alert alert-success' ng-repeat='message in flash_messages'>
      {{ message }}
    </div>
  </div>
  <div ng-if='!loggedInLayout()' ng-include="'assets/layouts/logged_out.html'" class='fill'></div>
  <div ng-if='loggedInLayout()' ng-include="'assets/layouts/logged_in.html'"></div>
</body>
</html>
